.Left{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
        
    
    
}
.Page-Title{
    
    font-family: sans-serif;
    font-size: 50px;
    padding-bottom: 5px;
}
.b1-box{
    padding: 20px 5%;
}
.b1-btn{
    padding:8px  20px;
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid #1976d2;
    cursor: pointer;
    background-color: #fff;
    
}
.b1-btn:hover{
    background-color: #1976d2;
    color: #fff;
}
.b2-btn{
    background-color: #1976d2;
    color: #fff;
    padding:8px  20px;
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid #1976d2;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.b2-btn:hover{
    background-color: #063f78;
    color: #fff;
}
.t-class table{
    height: 100%;
   
    box-sizing: content-box;
    padding: 0;
}
.t-class table tr:hover{
   
    background-color: #e2eaf0;
    outline-color: #e2eaf0;
}
.t-class table th{
    padding: 10px;
    background-color: #1976d2;
    color: #fff;
    font-size: 20px;
}
.f-div{
    position: absolute;
    top: 80px;
    right: 80px;
}
.blurb{
    filter: blur(3px);
}